<div class="app_home">
  <div class="app_container">
    <div>
      <img ondblclick="" src="../assets/images/imageedit_15_9045779300.png" alt="logo"
        style="width: 100px; margin-top: 10px" class="rotate" />
      <div class="langauge_change">
        <button mat-mini-fab [matMenuTriggerFor]="beforeMenu">
          <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item #selectLang (click)="switchLanguage('en')">
            English
          </button>
          <button mat-menu-item #selectLang (click)="switchLanguage('mk')">
            Macedonian
          </button>
        </mat-menu>
      </div>
      <div class="call_now">
        <a href="tel:+38971545110">{{ "callNow" | translate }} <i class="fa fa-phone"></i></a>
        <p>{{ "forRes" | translate }}</p>
      </div>
      <h1 ondblclick="" class="menu_title">{{ "MENU" | translate }}</h1>
    </div>
  </div>
  <button class="button1" routerLink="/app-coffee">
    <span>{{ "Coffee" | translate }}</span>
  </button>
  <br />
  <br />
  <button class="button2" routerLink="/non-alcoholic">
    {{ "Non-alcoholic Drinks" | translate }}
  </button>
  <br />
  <br />
  <button class="button3" routerLink="/alcoholic-drinks">
    {{ "Alcoholic Drinks" | translate }}
  </button>
  <br />
  <br />
  <button class="button4" routerLink="/coctails">
    {{ "COCKTAILS" | translate }}
  </button>
  <br />
  <br />
  <button class="button5" routerLink="/breakfast">
    {{ "Bakery from 09:30h - 12:00h" | translate }}
  </button>
</div>
<div class="social_links">
  <div class="error_img">
    <img src="../../../assets/images/error1.jpg" alt="error_page.jpg" />
    <h1>This site does not support desktop version. Try on mobile devices.</h1>
  </div>
  <p class="follow_us">Follow us</p>
  <div class="socail_links_wrapper">
    <div class="instagram_link">
      <a href="https://www.instagram.com/coffeein.to.go/" target="_blank"><img
          src="../../../assets/images/instagram1.png" alt="instagram.png" /></a>
    </div>
    <div class="facebook_link">
      <a href="https://www.facebook.com/Coffee-IN-to-go-595857970925494" target="_blank"><img
          src="../../../assets/images/facebook.png" alt="facebook.png" /></a>
    </div>
  </div>
  <div class="footer">
    Copyright <span>2019 - {{ year }}</span> &copy; Coffee In
  </div>
</div>
