/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap");
body {
  /* background-color: #e5ce97; */
  background-color: black;
}

.backgroundTogglerIn {
  background-color: black;
}

.mat-expansion-panel {
  background: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
}

.mat-expansion-panel-header {
  height: 100% !important;
}

.mat-menu-panel {
  background: #f1e5cf;
}

.mat-icon {
  color: #000000;
}

.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #f1e5cf;
}

.mat-menu-item:first-child .mat-menu-ripple {
  border-bottom: 1px solid black;
  margin: 0px 5px;
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: #f1e5cf;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  text-align: center;
  align-content: space-around;
  justify-content: space-around;
}

.mat-content {
  overflow: visible !important;
}

.mat-content.mat-content-hide-toggle {
  margin: 0 !important;
}

.mat-content.mat-content-hide-toggle:active {
  transform: translateY(4px);
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}

.mat-accordion > .mat-expansion-panel-spacing {
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}

.mat-expansion-panel-body {
  padding: 0 24px 0px !important;
}

.mat-button {
  padding: 0 !important;
}

.coffee_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f1e5cf;
  border-radius: 3px;
}

.coffee_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid #d4a872;
  border-top: 1px solid #d4a872;
  margin: 0 5px;
}

.coffee_card:last-child {
  border-bottom: none;
}

.name_and_price_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_and_price_wrapper h3,
.name_and_price_wrapper p {
  margin-bottom: 0;
}

.supplements {
  margin: 0 20px;
}

button {
  color: #191d20;
}

.button_back1 {
  background: linear-gradient(to top, #000000 0%, #363232 100%);
  width: -webkit-fill-available;
  height: 75px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;
}

.button_Weekend_Cocktails {
  background: linear-gradient(to top, #000000 0%, #574a7d 100%);
  /* width: -webkit-fill-available; */
  height: 45px;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 2px, rgb(129 126 135) 0px 0px 0px 2px;
  margin-bottom: 33px;
  margin-top: 18px;
}

.button_back2 {
  background: linear-gradient(to bottom, #000000 0%, #363232 100%);
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;
}

.promotionClass {
  text-decoration-line: line-through;
}

.promotionClass2 {
  color: #000000;
}

/* .on_promotion {
  margin-right: 0px;
  font-size: 14px;
  font-family: "Mali", cursive;
  color: darkmagenta;
  position: absolute;
  padding-top: 0px;
  right: 90px;
  transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  animation: myAnim 2s ease 0s infinite normal none;
} */

/* .on_promotion {
  padding: 12px 4px 15px 4px;
  font-size: 11px;
  background-color: #ed4141;
  color: white;
  right: 20px;
  top: -33px;
  position: relative;
}
.on_promotion::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -30px;
  border-left: 32px solid #ed4141;
  border-right: 31px solid #ed4141;
  border-bottom: 31px solid transparent;
} */

.on_promotion_wrapper {
  position: relative;
}
.on_promotion {
  position: absolute;
  top: -42.1px;
  right: 65px;
}
.on_promotion::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid #f8463f;
}
.on_promotion span {
  display: block;
  text-align: center;
  background: #f8463f;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
}
.on_promotion span:before,
.on_promotion span:after {
  position: absolute;
  content: "";
}
.on_promotion span:before {
  height: 6px;
  width: 6px;
  left: -6px;
  top: 0;
  background: #f8463f;
}
.on_promotion span:after {
  height: 6px;
  width: 8px;
  left: -8px;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: #c02031;
}

.name_and_price_wrapper p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.description_wrapper p {
  font-size: 15px;
}

.name_and_price_wrapper h3 {
  font-size: 16px;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 920px) {
  body {
    background-color: #e5ce97;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
